@model Dropbox06.Models.Department
<form asp-controller="Department"
      asp-action="AddDepartment" method="post">
    <label asp-for="DepartmentName"></label>
    <input asp-for="DepartmentName" />
    <br />
    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <br />
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <br />
    <label asp-for="Office"></label>
    <input asp-for="Office" />
    <br />
    <button type="submit">Add Department</button>
</form>